.btn-update, .btn-checkout {
    background-color: #65BA8E;
    color: white;
    font-weight: bold;
}
.btn-update:hover, .btn-checkout:hover {
    background-color: #65BA8E;
}
.cart-item img {
    max-width: 80px;
}
.btn-success{
    background-color: #65BA8E !important;
}