@font-face {
    font-family: 'Bw Modelica DEMO Black';
    src: url('../fonts/BwModelicaDEMO-Black-BF65d6bd3d0f3ae.otf') format('opentype');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'Bw Modelica DEMO';
    src: url('../fonts//BwModelicaDEMO-Regular-BF65d6bd3cf3fe5.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bw Modelica';
    src: url('../fonts//BwModelicaSS02DEMO-ExtraBoldUltraCondensed-BF65d6bd3aa1efd.otf') format('opentype');
    font-weight: bolder;
    font-style: bolder;
}
@font-face {
    font-family: 'Bw Modelica SS02 DEMO Medium Ultra Cond';
    src: url('../fonts//BwModelicaSS02DEMO-MediumUltraCondensed-BF65d6bd3ab0afb.otf') format('opentype');
    font-weight: medium;
    font-style: medium;
}
@font-face {
    font-family: 'Bw Modelica DEMO Ultra Cond';
    src: url('../fonts//BwModelicaDEMO-LightUltraCondensed-BF65d6bd3ca918c.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-family:'Bw Modelica DEMO';
    font-weight:normal;
    color: #65ba8e;
    box-sizing: border-box;
    background-color:#082327;
}
#footer,#headerSec2{
    background-color: #0d1b1e !important;
    font-size: 14px;
    height: auto;
}
h6,h5{
    font-family:"Bw Modelica DEMO Black" ;
    font-weight:bold;
    color: #ffff;
    text-transform:uppercase;
}
a{
    display: block;
    text-decoration: none;
    font-family:'Bw Modelica DEMO';
    color:#65ba8e;
}
.payment{
    height: 45px;
}
.top-header {
    background-color: #082327;
    color: white;
    padding: 10px 0;
}
.country-btn {
    background: #04312b;
    border: 1px solid linear-gradient(90deg, #3cb3ff, #6effa3) ;
    color: white;
    font-size: 12px;
}
.dropdown {
    display: flex;
    align-items: center;
    background-color: #0A1C20;
    border-radius: 20px;
    padding: 5px 10px;
    border: 2px solid #0A9BA4;
    color: white;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.dropdown img {
    width: 20px;
    height: 14px;
    margin-right: 8px;
}

.dropdown select {
    background: transparent;
    border: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
    appearance: none;
    outline: none;
}

.dropdown::after {
    content: "▼";
    font-size: 8px;
    margin-left: 3px;
}
.support {
    margin-left: 10px;
    font-size: 12px;
}
.social-icons a {
    color: white;
    text-decoration: none;
}
.nav-link {
    font-family: 'Bw Modelica SS02 DEMO Medium Ultra Cond';
    font-weight: medium;
    color: white !important;
    font-size: 14px;
    position: relative;
    margin: 0 10px;
}
.nav-link.active {
    background-color: #051518;
    font-weight:bolder;
    padding: 8px 16px;
    border-radius: 12px;
    color: #a0eec0 !important;
}
.nav-link.active::after {
    content: '';
    width: 6px;
    height: 6px;
    background-color: #a0eec0;
    border-radius: 50%;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
}
#login-register a{
    color: #ffff !important;
    font-family:'Bw Modelica';
    font-weight: normal;
    
}
.custom-search-bar {
    background-color:#051518; 
    border-radius: 30px;
    padding: 5px 20px;
    width:45%;
}
.custom-search-bar input {
    background: none; 
    border: none; 
    color: #427c62;
    outline: none; 
    width: 100%; 
}
.custom-search-bar input::placeholder{
    color: #427c62;
}
.input-box {
    padding: 8px 12px;
    font-size: 14px;
    border: 2px solid transparent;
    border-radius: 8px;
    background: linear-gradient(#0f1a1e, #0f1a1e) padding-box, 
                linear-gradient(90deg, #3cb3ff, #6effa3) border-box;
    color: #b8e0d2;
    outline: none;
    width: 220px;
}

.input-box::placeholder {
    color: #6c9d96;
}

.signup-btn{
    padding: 8px 14px;
    font-size: 14px;
    margin: 5px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: linear-gradient(90deg, #3c6eff, #6effa3);
}

.signup-btn:hover {
    opacity: 0.85;
}
#signin-sec1{
    background-image: url("../img/myacc_bg.png");
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 360px;
    border-radius: 35px;
    padding: 60px;
    color: #ffff;
}
#signin-baner{
   margin-left: 95px;
   margin-top: 40px;
}
.signin-btn{
    width: 150px;
    border-radius: 30px;
    font-size: 14px;
    padding: 5px 0;
    margin: 7px;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
    background: linear-gradient(90deg, #1e616f, #5fb48f);
}
h2,h1,h4{
    font-weight: bold;
    padding: 10px 0;
    color: #ffff;
}
#sign-registersec{
    background-color: #051c1e;
    border-radius: 35px;
}
#textsec{
    font-family:"Bw Modelica DEMO"!important;
    font-weight: normal !important;
    color:#346a56;
}
#btn-group button{
    outline: none;
    border: none;
    margin: 0;
    height: 40px;
    font-family:"Bw Modelica DEMO Black";
    color: #ffff;
    background: #051518;
}
#btn-group :nth-child(1){
    border-top-left-radius: 35px;
}
#btn-group :nth-child(2){
    border-top-right-radius: 35px;
}
form .form-group .form-control{
   background: #051518;
   border: 1px solid #051518;
   border-radius: 30px;
   display: flex;
   align-items: center;
   color: #65ba8e;
   width:50%;
   text-align: center;
}
form .form-group .form-control::placeholder{
    color:#285344;
}
form .form-group .form-control:focus{
    border-color:linear-gradient(90deg, #2b4285, #6effa3) !important;
}
#btn-group .active{
    background: linear-gradient(90deg, #1a2f4f, #5fb48f, #1a2f4f);
}
.notActive{
    background: #051518;
}
#Register-btn{
    width:120px;
    margin: auto;
    border-radius: 35px;
    background: linear-gradient(90deg, #1a2f4f, #5fb48f, #1a2f4f);
    color: #ffff;
    font-family:"Bw Modelica DEMO Black";
}
.game-offer {
    border-radius: 15px;
    padding: 20px;
}
.game-card {
    border-radius: 10px;
}
.game-card img {
    border-radius: 10px;
    width: 300px;
}
.btn-custom {
    background-color: #5fa37b;
    color: white;
    border-radius: 20px;
}
#rows{
    background-color: #113331;
    border-radius: 40px;
    min-height: 200px;
    overflow:visible;
}
#card{
    min-height: 220px;
    background-color:#1a413a;
    border-radius: 40px;
    color: #ffff;
}
#card #rate p,#date{
    font-family:"Bw Modelica DEMO Ultra Cond";
    font-weight: normal;
    color: #3E7D64;
}

#date,#price{
    font-size: 12px;
}
.fa-star{
    color: #051518;
}
.checked{
    color:#65ba8e;
}
#Hline{
    width: 90%;
    height: 5px;
    background: #5fa37b;
    border-radius: 20px;
}
#rows #secHeader{
    background:linear-gradient(90deg, #2e4e94, #6effa3,  #1583a5);
    padding:10px;
    width: 40%;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    color: #ffff;
    position: relative;
    top: -5px;
    text-align: center;
}
.game-card {
    width: 180px;
    background: #0e2627;
    border-radius: 20px;
    padding: 15px;
    color: white;
    text-align:left;
    position: relative;
    overflow: hidden; 
}
.game-card:hover{
    border: 2px solid;
    border-image-source: linear-gradient(to right,#6effa3,  #1583a5);
    border-image-slice: 1;
    transition-timing-function:ease;
}
.game-card img {
    width: 100%;
    border-radius: 10px;
}
.discount-badge {
    position: absolute;
    bottom: 0;
    right: 10px;
    background: #65ba8e;
    color: white;
    padding: 3px 10px 0;
    font-size: 14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.toggle_form{
    display: none !important;
}
#alert{
    background: red;
    color: #ffff;
    width: 50%;
    border-radius: 35px;
    text-align: center;
    margin: auto;
}
#hidden{
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: height 1s ease, opacity 1s ease;
}
.toggleButton{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background:linear-gradient(90deg, #6effa3,  #1583a5);
    color: #fff;
    position: relative;
    bottom: -20px;
}
.sectionHead{
    background: linear-gradient(90deg, #6effa3,  #1583a5);
}
.text_content{
    color: #ffff;
    font-size: 14px;
    text-transform: capitalize;
}

ol li a{
    color: #ffff;
    display: flex;
    text-align: right;
}
ol li a::after{
    border-bottom: 1px dotted #ffff;
    content: '';
    flex: 1;
}
/*game page*/
/*.voucher-card, .payment-card {
    cursor: pointer;
    transition: transform 0.2s;
}
.voucher-card:hover, .payment-card:hover {
    transform: scale(1.05);
}
.selected {
    border: 2px solid #ffcc00;
}*/
#left-side{
    color: #fff;
    font-size: 14px;
}
#heart{
    max-width: 50px;
}
#banner{
    background:linear-gradient(90deg, #2e4e94, #6effa3,  #1583a5);
    color: #ffff;
    border-radius: 20px;
    font-size: 14px;
    padding: 5px 10px;
}
#banner img{
    width: 30px;
}
#riotId{
    background: #0d2728; 
    border: .5px solid #082327; 
    border-radius: 20px;
    padding: 5px;
    color: #65BA8E;
    outline: none; 
    width: 93%;
}
#riotId::placeholder{
    color: #65BA8E;
}
#signN{
    width: 40px;
    height:40px;
    background:linear-gradient(90deg, #6effa3,  #1583a5);
    border-radius: 20px;
    position: relative;
    bottom: 50%;
    right: 50%;
    text-align: center;
    color: #ffff;
    font-weight: bold;
}
.live-badge {
    display: inline-flex;
    align-items: center;
    background-color: #C0392B;
    color: white;
    padding: 8px 16px;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
}

.live-badge .count {
    background-color: #F4D03F;
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 50%;
    margin-right: 8px;
}