@font-face {
    font-family: 'Bw Modelica';
    src: url('../fonts/BwModelicaDEMO-Black-BF65d6bd3d0f3ae.otf') format('truetype');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'Bw Modelica';
    src: url('../fonts//BwModelicaDEMO-RegularUltraCondensed-BF65d6bd3c89538.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-family:'Bw Modelica';
    font-weight: normal;
    color:#65BA8E;
    letter-spacing: 1px;
    box-sizing: border-box;
    background-color:#082327;
}
#footer{
    background-color: #0d1b1e !important;
}
h6{
    font-weight:bold;
    color: #ffff;
    text-transform:uppercase;
}
a,p{
    display: block;
    text-decoration: none;
    font-family:'Bw Modelica';
    font-weight: normal;
    color:#65BA8E;
}
.payment{
    height: 45px;
}
.top-header {
    background-color: #082327;
    color: white;
    padding: 10px 0;
}
.country-btn {
    background: #04312b;
    border: 1px solid linear-gradient(90deg, #3cb3ff, #6effa3) ;
    color: white;
    font-size: 12px;
}
.dropdown {
    display: flex;
    align-items: center;
    background-color: #0A1C20;
    border-radius: 20px;
    padding: 5px 10px;
    border: 2px solid #0A9BA4;
    color: white;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.dropdown img {
    width: 20px;
    height: 14px;
    margin-right: 8px;
}

.dropdown select {
    background: transparent;
    border: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
    appearance: none;
    outline: none;
}

.dropdown::after {
    content: "▼";
    font-size: 8px;
    margin-left: 3px;
}
.support {
    margin-left: 10px;
    font-size: 12px;
}
.social-icons a {
    color: white;
    text-decoration: none;
}
.input-box {
    padding: 8px 12px;
    font-size: 14px;
    border: 2px solid transparent;
    border-radius: 8px;
    background: linear-gradient(#0f1a1e, #0f1a1e) padding-box, 
                linear-gradient(90deg, #3cb3ff, #6effa3) border-box;
    color: #b8e0d2;
    outline: none;
    width: 220px;
}

.input-box::placeholder {
    color: #6c9d96;
}

.signup-btn {
    padding: 8px 14px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: linear-gradient(90deg, #3c6eff, #6effa3);
}

.signup-btn:hover {
    opacity: 0.85;
}
