
.btn-update, .btn-checkout {
    background-color: #65BA8E;
    color: white !important;
    font-weight: bold;
}
.btn-update:hover, .btn-checkout:hover{
    background-color: #65BA8E;
}
.cart-item img {
    max-width: 80px;
}
.deleteBtn{
    font-size: 10px;
    border-radius: 100%;
}
.bill p{
    font-size: 12px;
}
.notLogin {
    font-size: 14px;
}
.logForm{
    display: none;
}
.notLogin .d-flex .login{
    border-right: 1px solid #ffff;
    padding: 0 10px 0 0;
}
.notLogin   .showLogform {
    text-decoration: underline;
    color: #65BA8E;
}
.notLogin  input[type="checkbox"]:checked ~ .logForm {
    display: block;
}
.promoCode {
    height:0;
    opacity: 0;
}
.promoCode .btn-success{
    background-color: #65BA8E;
    font-size: 10px;
    width: 200px;
    padding: 12px 0;
}
input[type="text"].form-control::placeholder {
    color: white !important;
  }

.coupon .showCoupon {
    text-decoration: underline;
    color: #65BA8E;
}

.coupon input[type="checkbox"]:checked ~ .promoCode {
    height: auto;
    opacity: 1;
    transition: all .8s ease-in-out;
}

form input::placeholder{
    color: #ffff !important;
}
.text-success{
    color: #65BA8E !important;
}
/*.bill{
    background-image: url(../img/—Pngtree—torn\ notebook\ paper\ coiled\ paper_8243306.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size:cover;
}*/
.dropdownDiv{
    height: 0;
    opacity: 0;
}
.payment-option input:checked ~ .dropdownDiv{
    height: fit-content;
    opacity: 1;
    margin: 3px 0;
    transition:all 0.8s ease;

}
.input-group input {
    font-size: 10px;
}